<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam webshop</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
    <script src="assets/scripts/app.js"></script>
    <script defer="" src="https://kit.fontawesome.com/2e513787a6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header-global" class="header-global">
        {{!-- <nav class="nav-global">
            <div class="flex justify-between">
                <div class="nav-blobal__logo">
                    <a href="/">Webshop</a>
                </div>
                <div  class="nav-blobal__links">
                    <ul class="flex">
                        <li><a href="/">Home</a></li>
                        <li class="nav-dropdown-container">
                            <a href="/products">
                                Products<i class="fas fa-chevron-down"></i>
                            </a>
    	                    <ul class="nav-dropdown" id="navCatOutput">

                            </ul>
                        </li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav> --}}
    </header>
    <div>
        {{{ body }}}
    </div>
    <footer class="footer-global">
        <div class="flex">
            <div>
                <ul></ul>
            </div>
            <div>
                <ul></ul>
            </div>
        </div>
    </footer>
</body>
</html>