<div class="home">
    <header class="hero background background-cover">
        <div class="hero-text">
            <h1>Gear up today with the latest tech!</h1>
            <a href="/products">View products</a>
        </div>
    </header>
    <main>
        <section>
            <h2>All categories</h2>
            <div>
                <ul class="flex home-all-cat" id="home-section-cat">

                </ul>
            </div>
        </section>
        <section class="products">
            <div class="products-heading flex justify-between">
                <h2>Latest products</h2>
                <a href="/products">See all</a>
            </div>
            <div>
                <ul class="flex home-latest-prod" id="home-section-latest">

                </ul>
            </div>
        </section>
    </main>
</div>