<div class="products-page">
    <header>
        <h1>All products</h1>
    </header>
    <main>
        <div class="flex justify-between">
            <div class="filters">
                <form action="http://localhost:5050/products" method="get" name="filters" id="filters">
                    <div id="filter-cat-out" class="filter-cat">
                        
                    </div>
                    <div>
                        <button type="submit">Apply</button>
                    </div>
                </form>
            </div>
            <div class="products">
                <ul class="flex" id="prodsOutput"></ul>
            </div>
        </div>
    </main>
</div>